
.home {
    height: 100%;
}
.dark-mode {
    background-color: #111111;
    color: #FFF;
}

    .dark-mode li {
        background-color: #111111;
    }

.light-mode {
    background-color: #FFF;
    color: #000;
}

.welcome-message {
    padding: .7rem;
    background-color: #F5F5F5;
    text-align: center;
    font-size: 1rem;
    color: #000;
}

.sections {
    display: flex;
}

.toggle-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
    margin-right:50px;
}

.switch-label {
    vertical-align: top;
    line-height: 22px;
}